/* Requirements 1.2 */
.menu {
    background-color: #D580AC;
    color: #402E2A;
    font-weight: bold;
}

.item {
    width: 100px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}

/* Requirement 1.3 */
.menu1 {
    background-color: #D580AC;
    color: #402E2A;
    font-weight: bold;
    text-align: center;
}
.item1 {
    width: 100px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}

/* Requirement 1.4 */
.menu2 {
    background-color: #D580AC;
    color: #402E2A;
    font-weight: bold;
    text-align: center;
}
.item2 {
    width: 100px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}

/* Requirement 1.5 */
.item2:hover {
    background-color: #9CD08F;
    color: #FFFFFF;
    cursor: pointer;
}

/*  Part2  */
.menu_vertical {
    background-color: #D580AC;
    color: #402E2A;
    font-weight: bold;
    width: 100px;
    line-height: 30px;
}
.menu_vertical span {
    display: block;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
}

.menu_vertical span:hover{
    background-color: #9CD08F;
    color: #FFFFFF;
    cursor: pointer;
}