<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quyết đê</title>
</head>
<body>
    <!-- http://localhost:6969/ask -->
    <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>
    <form action="/addquestion" method = "post">
        <textarea name="question" maxlength = "200" id="question" cols="30" rows="10" onkeyup="myFunction()"></textarea>
        <span id="remain">còn 200/200 ký tự</span>
        <br>
        <button>Gửi</button>
    </form> 

    <br>

    <form action="/randomquestion" method = "POST">
        <button id = "show-btn">Xem câu hỏi khác</button>
    </form>

    <br>

    <!-- <form action="/voteY" method = "POST">
        <button>Yes</button>
        
    </form>
    <br>
     -->


    

</body>
<script>
    //
   function myFunction() {
    //    document.getElementById('sp').innerHTML = "Còn" + " " +  (200 - document.querySelector("textarea").textLength) + "/200" + " " +  "Ký tự";
    document.getElementById("question").addEventListener("input", function(){
        const remainChar = 200 - document.getElementById("question").value.length;
        document.getElementById("remain").innerText = `còn ${remainChar}/200 ký tự` ;
    })
}

</script>
</html> 