.menu {
    background-color: #D580AC;
    color: #402E2A;
    font-weight: bold;
    text-align: center;
    position: relative;
}
.menu span {
    width: 100px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
   
}

span:hover {
    background-color: #9CD08F;
    color: #FFFFFF;
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
}
.submenu span {
    display: block;
}

.menu span:hover > .submenu {
    display: block;
}

.submenu span:hover > .submenu {
    display: inline;
    margin-left: 28px;
}
